@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
   min-height: 100vh;
    

}

header{
    background-color: rgb(152, 85, 228);
    color: white;
    text-align: center;
}

h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Bree Serif', serif;
    font-size: 5vw;
    
}

header p{
    padding-bottom: 50px;
}


a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover{
    text-decoration: underline;
    color: rgb(6, 177, 77);
}
section{
    padding-top: 30vh;
    padding-bottom: 30vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 3.4vw;
}
.normal{
    background-color: rgb(152, 85, 228);
    color: white;
}
.imagem{
    background-color: aquamarine;
    color: white;
    box-shadow: inset 6px  6px 13px 0px rgb(26, 25, 25);
    background-attachment: fixed;
}
.imagem > p{
    display: inline-block;
    background-color: rgba(8, 82, 82, 0.473);
    padding: 10px;
    border-radius: 15px 0px;
    padding: 5px;
  

}

section#img01{
    background-image:url('../imagens/imagem1.jpg');
    background-position: center top;
    background-size: cover;

}

section#img02{
    background-image: url('../imagens/imagem2.jpg');
    background-position: center right;
    background-size: cover;
}
footer{
    background-color: rgba(28, 53, 197, 0.589);
    color: white;
    text-align: center;
    padding: 10px;
}